# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dds

src/circles/bgra_dds/
src/circles/built
src/circles/src_images

src/lifestyle/bgra_dds/
src/lifestyle/built
src/lifestyle/src_images

src/traditional/bgra_dds/
src/traditional/built
src/traditional/src_images

src/gui/bgra_dds/
src/gui/built
src/gui/src_images

common/circles/dds/*.dds
common/circles/dds/*.png
common/lifestyle/dds/*.dds
common/lifestyle/dds/*.png
common/traditional/dds/*.dds
common/traditional/dds/*.png

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
